/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url(./img/city.gif);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
  user-select: none;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#level-title,
#game-record  {
  font-family: 'Press Start 2P', cursive;
  background-color: #0e0434;
  width: fit-content;
  padding: 1rem;
  margin: 3rem;
  border-radius: 10px;
  border: 3px solid white;
}

#level-title {
  font-size: 3rem;
}

#game-record {
  font-size: 2rem;
}

.container {
  display: block;
  width: 75%;
}

.btn {
  display: inline-block;
  width: 250px;
  aspect-ratio: 1;
  border: 10px solid black;
  border-radius: 20%;
}

@media (max-width: 991px) {
  .btn {
    width: 350px;
  }
}

.success {
  color: greenyellow;
}

.game-over {
  color: red;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.disable-click {
  pointer-events: none;
}
